* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin";
}

a {
  color: inherit;
}

/* attention à je sais pas quoi */

img,
video {
  display: block;
}

.navigation {
  display: flex;
  width: 320px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #FFF;
}

.navigation a {
  font-size: 16px;
}
